
[Desktop Entry]
Type=Application
Exec=realcrypt
Icon=realcrypt
Comment=On-the-fly encryption
GenericName=On-the-fly encryption
Terminal=false
Name=RealCrypt
StartupNotify=true
Categories=System;
